<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>🎨 트게더 로고 생성기</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/app.css" />
  </head>

  <body>
    <div class="root">
      <form method="POST">
        <div class="box">
          <div class="box-header">
            <img src=<%= src %>>
          </div>
          <div class="box-body">
            <div class="controlBox">
              <label>텍스트</label>
              <input id="font" name="text" type="text" value="<%= text %>" />
            </div>
            <div class="controlBox">
              <label for="fontSize">폰트 크기</label>
              <input
                id="fontSize"
                name="fontSize"
                type="range"
                min="10"
                value="<%= fontSize %>"
                max="70"
              />
            </div>
            <div class="grid-2" style="margin-top: 50px;">
              <div class="controlBox">
                <label>가로 사이즈</label>
                <input id="font" name="width" type="range" min="50" value="<%= width %>" max="300" />
              </div>
              <div class="controlBox">
                <label>세로 사이즈</label>
                <input id="font" name="height" type="range" min="10" value="<%= height %>" max="150" />
              </div>
            </div>
            <div class="controlBox">
              <label>외곽선 두께</label>
              <input id="font" name="strokeSize" type="range" min="0" value="<%= strokeSize %>" max="10" />
            </div>
            <div class="grid-2" style="margin-top: 50px;">
              <div class="controlBox">
                <label>텍스트 색상</label>
                <input id="color" name="fontColor" type="color" value="<%= fontColor %>" />
              </div>
              <div class="controlBox">
                <label>외곽선 색상</label>
                <input id="font" name="strokeColor" type="color" value="<%= strokeColor %>" />
              </div>
            </div>
          </div>
          <div class="box-footer">
            <button action="submit" class="select">
              적용
            </button>
            <a href="/" class="gray1">
              <i class="fas fa-sync"></i>
            </a>
            <a href="<%= src %>" action="submit" class="gray1" download>
              <i class="fas fa-file-download"></i>
            </a>
          </div>

          <div class="dev-name">
            Developed by <a href="https://twitter.com/cheong_myeong__">청명</a>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
